<app-navbar></app-navbar>

<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img [src]="siteImageUrl" alt="">

            <h3 class="text-xl font-bold p-3">{{ siteName }}</h3>

            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{ siteUrl }}
                </div>
            </div>
        </div>

        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center">{{ formState }} User & Password</h2>

            <p class="text-center">
                You can {{ formState }} user and password from the below form
            </p>

            <form #pwdForm="ngForm" (ngSubmit)="onSubmit(pwdForm.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Email</label>
                    <input [(ngModel)]="pwdEmail" type="email" class="border-2 border-gray-900 p-2 rounded-lg w-full" name="email">
                </div>

                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Username</label>
                    <input [(ngModel)]="pwdUsername" type="text" class="border-2 border-gray-900 p-2 rounded-lg w-full" name="username">
                </div>

                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Password</label>
                    <input [(ngModel)]="pwdPassword" type="password" class="border-2 border-gray-900 p-2 rounded-lg w-full" name="password">
                </div>

                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                    {{ formState }} Password
                </button>
            </form>
        </div>

    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">Username</th>
                    <th class="border-2 border-gray-900 p-3">Password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let pwdEntry of passwordList; let i = index">
                    <td class="border-2 border-gray-900 p-3">{{ pwdEntry.email }}</td>
                    <td class="border-2 border-gray-900 p-3">{{ pwdEntry.username }}</td>
                    <td class="border-2 border-gray-900 p-3">
                        {{ pwdEntry.password }}
                        <button (click)="onDecrypt(pwdEntry.password, i)"
                            class="mx-0.5 px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md">
                            Decrypt
                        </button>
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        <button (click)="editPassword(pwdEntry.email, pwdEntry.username, pwdEntry.password, pwdEntry.id)"
                            class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                            Edit
                        </button>
                        <button (click)="deletePassword(pwdEntry.id)"
                            class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>